<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/include :: include}"></head>
<body>
	<nav th:include="~{fragments/header :: header}"
		class="navbar navbar-expand-sm navbar-tertiary fixed-top bg-white border-bottom py-2"></nav>

	<main class="container-fluid ps-4 pe-4">
		<div class="row bg-white p-3 rounded-3 mb-3">
			<div class="col align-middle mt-2">
				<h4>Appointment</h4>
			</div>

			<div class="col-md-auto mt-1">
				<button id="buttonBack" type="button" class="btn btn-dark me-2">
					<i class="bi bi-chevron-left me-1"></i>Back
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col bg-white p-4 py-3 rounded-3 mb-3">
				<!-- Appointment List -->
				<div th:include="~{appointment/sections/appointment-list}"></div>
			</div>
		</div>
	</main>

	<input sec:authorize="hasRole('ROLE_STAFF')" id="hiddenAuthorizeRole"
		type="hidden" class="form-control" value="ROLE_STAFF" />
	<input sec:authorize="hasRole('ROLE_DOCTOR')" id="hiddenAuthorizeRole"
		type="hidden" class="form-control" value="ROLE_DOCTOR" />

	<!-- Modal -->
	<div th:include="~{appointment/modals/view-appointment}"></div>
	<div th:include="~{appointment/modals/update-status}"></div>

	<script src="/js/header.js"></script>
	<script src="/js/appointment/data-table.js"></script>
	<script src="/js/appointment/view-appointment.js"></script>
	<script src="/js/appointment/update-status.js"></script>
</body>
</html>
