<div class="row">
	<div class="col-xl-9">
		<h4 class="pt-2 pb-2">Appointments Overview</h4>

		<div class="row gx-3 gy-3">
			<div class="col-md-4">
				<div class="card border-0 shadow-sm">
					<div class="card-body p-4">
						<h6 class="clas-subtitle">All Appointments</h6>
						<h5 class="fs-2" th:text="${allAppointments}"></h5>

					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card border-0 shadow-sm">
					<div class="card-body p-4">
						<h6 class="clas-subtitle">New Appointments</h6>
						<h5 class="fs-2" th:text="${newAppointments}"></h5>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card border-0 shadow-sm">
					<div class="card-body p-4">
						<h6 class="clas-subtitle">Fulfilled Appointments</h6>
						<h5 class="fs-2" th:text="${fulfilledAppointments}"></h5>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card border-0 shadow-sm">
					<div class="card-body p-4">
						<h6 class="clas-subtitle">Cancelled Appointments</h6>
						<h5 class="fs-2" th:text="${cancelledAppointments}"></h5>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card border-0 shadow-sm">
					<div class="card-body p-4">
						<h6 class="clas-subtitle">Today's Appointments</h6>
						<h5 class="fs-2" th:text="${todaysAppointments}"></h5>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card border-0 shadow-sm">
					<div class="card-body p-4">
						<h6 class="clas-subtitle">Upcoming Appointments</h6>
						<h5 class="fs-2" th:text="${upcomingAppointments}"></h5>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 gx-3 gy-4">
				<div class="card border-0 shadow-sm p-4 pt-4">
					<div class="row">
						<div class="col-12 pb-3">
							<h5>Upcoming Appointments</h5>
						</div>
					</div>
					<div th:if="${upcomingAppointmentList != null && #lists.size(upcomingAppointmentList) > 0}" class="row bg-secondary-subtle">
						<div class="col-1 p-3 pt-2 pb-2">Ref. #</div>
						<div class="col-1 p-3 pt-2 pb-2">Slot #</div>
						<div class="col-1 p-3 pt-2 pb-2">Status</div>
						<div class="col-3 p-3 pt-2 pb-2">Title</div>
						<div class="col-2 p-3 pt-2 pb-2">Datetime</div>
						<div class="col-2 p-3 pt-2 pb-2">Clinic</div>
						<div class="col-2 p-3 pt-2 pb-2">Doctor</div>
					</div>
					<div th:if="${upcomingAppointmentList != null && #lists.size(upcomingAppointmentList) > 0}" th:each="appointment,iterStat : ${upcomingAppointmentList}"
						th:class="${#lists.size(upcomingAppointmentList) == iterStat.index + 1 ? 'row' : 'row border-bottom'}">
						<div class="col-1 p-3 pt-2 pb-2"
							th:text="${appointment.referenceNo}"></div>
						<div class="col-1 p-3 pt-2 pb-2" th:text="${appointment.slot}"></div>
						<div th:if="${appointment.status.toString() == 'BOOKED'}"
							class="col-1 p-3 pt-2 pb-2">
							<span class="badge text-bg-info"
								th:text="${appointment.status}"></span>
						</div>
						<div th:if="${appointment.status.toString() == 'ARRIVED'}"
							class="col-1 p-3 pt-2 pb-2">
							<span class="badge text-bg-primary"
								th:text="${appointment.status}"></span>
						</div>
						<div class="col-3 p-3 pt-2 pb-2"
							th:text="${appointment.description}"></div>
						<div class="col-2 p-3 pt-2 pb-2"
							th:text="${#dates.format(appointment.datetime, 'yyyy-MM-dd HH:mm')}"></div>
						<div class="col-2 p-3 pt-2 pb-2"><span th:text="${appointment.location.name}"></span></div>
						<div class="col-2 p-3 pt-2 pb-2"><span th:text="${appointment.doctor.firstName + ' ' + appointment.doctor.lastName}"></span></div>
					</div>
					<div th:if="${upcomingAppointmentList == null || #lists.size(upcomingAppointmentList) == 0}" class="row">
						<div class="col-12 pb-2">No records found.</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12 gx-3 gy-4">
				<div class="card border-0 shadow-sm p-4 pt-4">
					<div class="row">
						<div class="col-12 pb-3">
							<h5>Awaiting Appointments</h5>
						</div>
					</div>
					<div th:if="${awaitingAppointmentList != null && #lists.size(awaitingAppointmentList) > 0}" class="row bg-secondary-subtle">
						<div class="col-1 p-3 pt-2 pb-2">Ref. #</div>
						<div class="col-1 p-3 pt-2 pb-2">Slot #</div>
						<div class="col-1 p-3 pt-2 pb-2">Status</div>
						<div class="col-3 p-3 pt-2 pb-2">Title</div>
						<div class="col-2 p-3 pt-2 pb-2">Datetime</div>
						<div class="col-2 p-3 pt-2 pb-2">Clinic</div>
						<div class="col-2 p-3 pt-2 pb-2">Doctor</div>
					</div>
					<div th:if="${awaitingAppointmentList != null && #lists.size(awaitingAppointmentList) > 0}" th:each="appointment,iterStat : ${awaitingAppointmentList}"
						th:class="${#lists.size(awaitingAppointmentList) == iterStat.index + 1 ? 'row' : 'row border-bottom'}">
						<div class="col-1 p-3 pt-2 pb-2"
							th:text="${appointment.referenceNo}"></div>
						<div class="col-1 p-3 pt-2 pb-2" th:text="${appointment.slot}"></div>
						<div th:if="${appointment.status.toString() == 'PENDING'}"
							class="col-1 p-3 pt-2 pb-2">
							<span class="badge text-bg-secondary"
								th:text="${appointment.status}"></span>
						</div>
						<div th:if="${appointment.status.toString() == 'WAITLIST'}"
							class="col-1 p-3 pt-2 pb-2">
							<span class="badge text-bg-warning"
								th:text="${appointment.status}"></span>
						</div>
						<div class="col-3 p-3 pt-2 pb-2"
							th:text="${appointment.description}"></div>
						<div class="col-2 p-3 pt-2 pb-2"
							th:text="${#dates.format(appointment.datetime, 'yyyy-MM-dd HH:mm')}"></div>
						<div class="col-2 p-3 pt-2 pb-2"><span th:text="${appointment.location.name}"></span></div>
						<div class="col-2 p-3 pt-2 pb-2"><span th:text="${appointment.doctor.firstName + ' ' + appointment.doctor.lastName}"></span></div>
					</div>
					<div th:if="${awaitingAppointmentList == null || #lists.size(awaitingAppointmentList) == 0}" class="row">
						<div class="col-12 pb-2">No records found.</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3">
		<div class="row gx-3 gy-3">
			<div class="col-md-12">
				<div class="card border-0 shadow-sm">
					<div class="card-body p-4">
						<div id="calendar"></div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="card bg-warning-subtle border-0 shadow-sm">
					<div th:if="${myAppointment}" class="card-body p-4">
						<div class="">
							<h6 class="class-subtitle fs-6 fw-normal">MY APPOINTMENT</h6>
							<h5 class="fs-4"
								th:text="${myAppointment.doctor.firstName + ' ' + myAppointment.doctor.lastName + ' - ' + myAppointment.doctor.department}"></h5>
							<p>
								<strong th:text="${#dates.format(myAppointment.datetime.getTime(), 'HH:mm a') + ' - ' + #dates.format(myAppointment.datetime.getTime() + (30 * 60000), 'HH:mm a')}"></strong> </span><span th:text="'Starts in ' + ${(myAppointment.datetime.getTime() - #dates.createNow().getTime()) / 60000} + ' minutes'"></span>
							</p>
						</div>
						<div class="pt-2 pb-2 pb-0">
							<p class="mb-0">
								<strong th:text="${myAppointment.location.name}"></strong>
								<br/><span th:text="${myAppointment.location.address}"></span>
							</p>
						</div>
						
						<div class="pt-2 pb-2 pb-0">
							<p class="mb-0">
								<strong th:text="${myAppointment.description}"></strong>
								<br/><span th:text="${myAppointment.reason}"></span>
							</p>
						</div>

					</div>
					
					<div th:if="${myAppointment == null}" class="card-body p-4">
						<div class="">
							<h6 class="class-subtitle fs-6 fw-normal">MY APPOINTMENT</h6>
							<p>
								<strong>No scheduled appointment for today.</strong>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
