<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
	aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasRightLabel">
			Activity Alerts(<span id="offCanvasActivityAlertsCount">0</span>)
		</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
			aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div id="offCanvasActivityAlerts" class="list-group">
			You're all caught up! No new alerts.
		</div>
	</div>
</div>