<head th:fragment="include_login">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description"
		content="eHealthQueue - eHealth Scheduling System" />
	<meta name="author" content="Edgardo Guzman Jr" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="'eHealthQue - ' + ${pageTitle}"></title>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="/css/sign-in.css" rel="stylesheet">
</head>

<head th:fragment="include">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description"
		content="eHealthQueue - eHealth Scheduling System" />
	<meta name="author" content="Edgardo Guzman Jr" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="'eHealthQue - ' + ${pageTitle}"></title>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="/css/navbar-fixed.css" rel="stylesheet">
	<style>
		html body {
    		background-color: #f9f9f9;
		}
	</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
