<div class="row align-items-center">
	<div class="col ps-3">
		<h4>Appointment Listing</h4>
	</div>
	<div class="col-md-auto">
		<div class="row g-3 mb-3 pt-2">
			<div class="col-auto">
				<label for="textReferenceNo" class="col-form-label h6">Search
					By Reference No.</label>
			</div>
			<div class="col-auto">
				<div class="input-group">
					<input id="textReferenceNo" type="text" class="form-control" /><span
						class="input-group-text"><span class="fa-solid fa-asterisk"></span></span>
				</div>

			</div>
			<div class="col-auto">
				<button id="buttonSearch" type="button" class="btn btn-primary">
					<i class="fa-solid fa-magnifying-glass me-1"></i>Search
				</button>
			</div>
		</div>
	</div>
</div>

<table id="tableAppointmentList" class="table table-striped">
	<thead>
		<tr>
			<th class="h6 text-start" width="2%">#</th>
			<th class="h6 text-start" width="5%">Reference No.</th>
			<th class="h6 text-start" width="5%">Datetime</th>
			<th class="h6 text-start" width="8%">Title</th>
			<th class="h6 text-start" width="10%">Reason</th>
			<th class="h6 text-start" width="5%">Status</th>
			<th class="h6 text-start" width="5%">Created On</th>
			<th class="h6 text-start" width="1%"></th>
		</tr>
	</thead>
</table>
