<div>
	<div class="row mb-0">
		<h4>Last Doctor Visited</h4>
	</div>
	<div class="row overflow-auto">
		<div class="list-group">
			<div th:each="doctor : ${lastDoctorVisited}"
				class="list-group-item list-group-item-action d-flex gap-3 py-3">
				<i class="fa-solid fa-user-doctor h4"></i>
				<div class="row w-100">
					<div class="col">
						<h6 class="mb-0" th:text="'Dr. ' + ${doctor.firstName} + ' ' + ${doctor.lastName}"></h6>
						<small class="mb-0 opacity-50" th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(doctor.department, '_', ' ')))}"></small>
					</div>
					<div class="col-sm-auto">
						<small class="mb-0 opacity-50"><i class="fa-solid fa-calendar-days"></i> <span th:with="days=(((${#dates.createNow().getTime()} - ${doctor.createdOn.getTime()}) / 3600000) / 24)" th:text="${#numbers.formatDecimal(days, 1, 0)} + 'd'"></span></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>