<div class="row align-items-center">
	<div class="col ps-3">
		<h4>Attendance Listing</h4>
	</div>
	<div class="col-md-auto">
		<div class="row g-3 mb-3 pt-2">
			<div class="col-auto">
				<label for="textDate" class="col-form-label h6">Search by Date.</label>
			</div>
			<div class="col-auto">
				<input id="textDates" type="text" class="form-control" />
			</div>
			<div class="col-auto">
				<button id="buttonSearch" type="button" class="btn btn-primary">
					<i class="fa-solid fa-magnifying-glass me-1"></i>Search
				</button>
			</div>
		</div>
	</div>
</div>

<table id="tableAttendanceList" class="table table-striped">
	<thead>
		<tr>
			<th class="h6" width="1%">#</th>
			<th class="h6" width="5%">Reference No.</th>
			<th class="h6" width="6%">Datetime</th>
			<th class="h6" width="8%">Title</th>
			<th class="h6" width="10%">Reason</th>
			<th class="h6" width="5%">Status</th>
			<th class="h6" width="6%">Created On</th>
			<th class="h6" width="1%"></th>
		</tr>
	</thead>
</table>
