<div class="modal fade" id="viewLocation" tabindex="-1"
	aria-labelledby="#viewLocationLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="#viewLocationLabel">View
					Location</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<div class="row ps-3 pe-3 overflow-auto"></div>
			</div>
		</div>

	</div>
</div>
