<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/include :: include}"></head>
<body>
	<nav th:include="~{fragments/header :: header}"
		class="navbar navbar-expand-sm navbar-tertiary fixed-top bg-white border-bottom py-2"></nav>

	<main class="container-fluid ps-4 pe-4">
		<div class="row bg-white p-3 rounded-3 mb-3">
			<div class="col align-middle mt-2">
				<h4>Doctor</h4>
			</div>

			<div class="col-md-auto mt-1">
				<button id="buttonBack" type="button" class="btn btn-dark me-2">
					<i class="bi bi-chevron-left me-2"></i>Back
				</button>
				<button id="buttonRefresh" type="button" class="btn btn-info">
					<i class="fa-solid fa-arrows-rotate me-2"></i>Refresh
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col bg-white p-4 py-3 rounded-3 mb-3">
				<!-- Doctor List -->
				<div th:include="~{doctor/sections/doctor-list}"></div>
			</div>
		</div>
	</main>
		
	<!-- Modal -->
	<div th:include="~{doctor/modals/view-schedule}"></div>

	<!-- Footer -->
	<div th:include="~{fragments/footer}"></div>
	
	<script src="/js/header.js"></script>
	<script src="/js/doctor/data-table.js"></script>
	<script src="/js/doctor/view-schedule.js"></script>
</body>
</html>
